* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  line-height: 25px;
}

html {
  scroll-behavior: smooth;
}

.header {
  display: flex;
  align-items: center;

}


.burgercontainer {
  opacity: 0.7;
}


.nav {
  position: relative;
  display: flex;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  height: 45px;
}

#navAnimation {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-left: 10px;
}

.navLinkscontainer {
  display: none;
}


.withNav {
  display: flex;
  align-items: center;
  transition: ease-in 1s;
  background-color: black;
  opacity: 0.2;
  font-size: 25px;
}

.withNav a {
  font-size: 13px;
  position: relative;
  color: white;
  text-decoration: none;
  padding: 8px;
}

.contentTitle {
  font-size: 45px;
  margin-left: 15px;
  line-height: 1;
}

.wrapper {
  min-height: 100vh;
  padding: 20px;
}




.aboutcontainer {
  display: flex;
  flex-direction: column;
  background-image: url('./images/footer_lodyas.png');
  color: white;
}

.homecontainer {
  color: white;
  min-height: 26vh;
  text-align: left;
  position: relative;
  background-position: center;

}

.video {
  background-size: cover;
  width: 100%;
  bottom: 0;
  position: absolute;
  z-index: 0;
}



.aboutcontainerContent {
  display: flex;
  flex-direction: column;
}


.workedOn {
  display: flex;
  color: white;
  align-items: center;
}

.experiencecontainerContent {
  display: flex;
  flex-direction: column;
}

.experiencecontainerContent small {
  justify-content: flex-start;
}


.firstexperience,
.secondexperience {
  margin-top: 20px;
}

.wundermanthompsonLogo {
  width: 50px;
  height: 40px;
}

.generalAssemablyLogo {
  width: 40px;
  height: 25px;
}

.xinglogo {
  width: 40px;
  height: 40px;
}


.experiencecontainer {
  background-image: url("./images/dark-triangles.png");
  width: 100%;
  min-height: 100vh;
}

.experience h3 {
  margin: 0;
}

.latestexperience,
.firstexperience,
.secondexperience,
.firstInterest,
.secondInterest,
.thirdInterest,
.fourthInterest {
  background-color: black;
  color: white;
  padding: 20px;
  opacity: 0.6;
  border-radius: 15px;
}

.interestContainer {
  background-image: url('./images/interestbackground.jpeg');
  color: white;
}

.interest {
  margin-top: 20px;
}

.interestContent {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.firstInterest,
.secondInterest,
.thirdInterest,
.fourthInterest {
  width: 300px;
  background-color: black;
  color: white;
  padding: 20px;
  opacity: 0.6;
  border-radius: 15px;
  margin-bottom: 10px;
}

.interestLogo {
  width: 60px;
  height: 50px;
}


footer {
  background-color: black;
  padding: 30px;
}

.cvButton {
  display: flex;
  padding: 5px;
  background-color: white;
}


.cvDownloadLink {
  color: black;
  display: flex;
  margin-bottom: 10px;
}


.backToTop {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.grabMyCv {
  margin: 0;
  margin-top: 10px;
  font-size: 10px;
  color: black;
}


.fa-envelope {
  margin-left: 5px;
}


.logo {
  width: 40px;
  height: 40px;
}

.homecontainer h1 {
  margin: 0;
  font-size: 20px;
  position: relative;
  opacity: 0.8;
  display: inline;
}

.homecontainer h3 {
  margin: 0;
  font-size: 10px;
  position: relative;
  opacity: 0.8;
  display: inline;
}

.mainHeaders {
  text-align: center;
  padding-top: 100px;
  opacity: 0.7;
}


.aboutcontainer p {
  font-size: 15px;
  margin: 0;
}


.experiencecontainer h1 {
  margin-left: 15px;
  color: white;
}

.skillcontainer {
  background-image: url('./images/diagonal_striped_brick.png');
}

.skillcontainer h1 {
  margin-left: 15px;
  color: black;
}

.contactcontainer {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}


.contactcontainer h1 {
  color: white;
  margin: 0;
}

.contactcontainer span {
  color: white;
  font-size: 10px;
}

.contactContent {
  margin-bottom: 20px;
}

.contactContent .logo {
  margin-bottom: 10px;
}

.contactContent {
  grid-column: 1;
}

.contactContent a {
  color: white;
  padding-right: 10px;
}

h1.contact {
  margin-bottom: 30px;
}

small {
  display: flex;
  color: white;
  grid-column: 3;
  font-size: 10px;
  justify-content: flex-end;
  align-items: flex-end;
}


.fa-bars {
  color: white;
  padding: 10px;
}


div.summary {
  margin-top: 20px;
  padding: 20px;
  background-color: black;
  opacity: 0.5;
  border-radius: 15px;
}

.skilllist {
  margin: 0 auto;
  padding-left: 30px;
}

.skilllist img {
  width: 90px;
  height: 90px;
  padding: 15px;
}



.carousel-wrapper {
  height: 60vh;
  position: relative;
  top: 50px;
  margin: 0 auto;
}


.carousel-item {
  position: absolute;
  font-weight: 700;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px 50px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.arrowContainerLeft {
  height: 41px;
  width: 41px;
  position: absolute;
  left: 0;
  top: 50%;
  background-color: white;
  opacity: 0.6;
}

.arrowContainerRight {
  height: 41px;
  width: 41px;
  position: absolute;
  right: 0;
  top: 50%;
  background-color: white;
  opacity: 0.6;
}

.arrow {
  border: solid darkgrey;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 12px;
  opacity: 0.7;
}

.arrow-prev {
  left: 13px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(135deg);
}

.arrow-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

.light {
  color: white;
}



/*Select every element*/
[id^="item"] {
  display: none;
}

.item-1 {
  z-index: 2;
  opacity: 1;
  background: url('images/popularsearches.png');
  background-size: cover;
  margin-bottom: 60px;
  background-position: center;
}

.item-2 {
  background: url('images/recentsearches.png');
  background-size: cover;
  margin-bottom: 60px;
  background-position: center;
}

.item-3 {
  background: url('images/recommendations.png');
  background-size: cover;
  margin-bottom: 60px;
  background-position: center;
}

.item-4 {
  background: url('images/producttilecarousel.png');
  background-size: cover;
  margin-bottom: 60px;
  background-position: center;
}

.item-5 {
  background: url('images/tommysearch.png');
  background-size: cover;
  margin-bottom: 60px;
  background-position: center;
}

.item-6 {
  background: url('images/thsearchsu.png');
  background-size: cover;
  margin-bottom: 60px;
  background-position: center;
}

.itemDescription {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 10;
  bottom: -300px;
  color: white;
}

.itemDescription_black {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: -300px;
  color: black;
}


*:target~.item-1 {
  opacity: 0;
}

#item-1:target~.item-1 {
  opacity: 1;
}

#item-2:target~.item-2,
#item-3:target~.item-3,
#item-4:target~.item-4,
#item-5:target~.item-5,
#item-6:target~.item-6 {
  z-index: 3;
  opacity: 1;
}


@media screen and (min-width: 768px) {

  .nav {
    justify-content: flex-start;
  }

  .burgercontainer {
    padding-right: 120px;
  }

  .withNav a {
    font-size: 25px;
  }

  .skilllist img {
    width: 150px;
    height: 150px;
    padding: 30px;
  }

  .skilllist {
    display: flex;
    flex-wrap: wrap;
  }

  .interestContent {
    flex-direction: unset;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

}

/* ------------------------------------------------------------ Desktop view*/

@media screen and (min-width: 1024px) {

  .homecontainer {
    min-height: 100vh;
  }

  .nav {
    position: relative;
    display: flex;
    text-align: center;
    background-color: black;
    justify-content: center;
    align-items: center;
    opacity: 0.2;
    font-size: 40px;
    z-index: 1;
    height: 80px;
  }

  .navLinkscontainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .nav a {
    display: inline-block;
    transition: all 500ms;
    position: relative;
    padding: 10px;
    color: white;
    text-decoration: none;
  }

  .nav a:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    z-index: 1;
    border-top: 4px solid white;
    animation: grow 750ms linear;
    animation-fill-mode: forwards;
  }

  #navAnimation {
    width: 100px;
    height: 100px;
  }

  .burgercontainer {
    display: none;
  }

  .video {
    z-index: 0;
  }




  @keyframes grow {
    100% {
      width: 100%;
    }
  }

  .homecontainer h1 {
    font-size: 80px;
    display: inline;
  }

  .homecontainer h3 {
    font-size: 20px;
    display: inline;
    margin: 0;
  }

  .mainHeaders {
    text-align: center;
    padding-top: 340px;
    opacity: 0.5;
    font-family: 'Playfair Display', serif;
  }



  .contentcontainer {
    margin-top: 50px;
  }

  .carousel-wrapper {
    width: 40vw;
  }


  .aboutcontainerContent {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 95%;
    align-items: center;
  }

  .intro {
    grid-column: 1;
    padding: 20px;
  }

  .workDonecontainer {
    grid-column: 2;
    margin-left: 120px;
    margin-bottom: 70px;
  }

  .workedOn {
    display: flex;
    color: white;
    align-items: center;
  }

  .arrow-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
  }

  .arrow-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }

  .summarycontainer {
    display: flex;
  }

  div.summary {
    width: 50%;
    flex-wrap: wrap;
    margin: 10px;
  }

  .skilllist {
    margin: 0 auto;
    padding-left: 70px;
  }


  .arrow {
    border-width: 0 5px 5px 0;
  }


  .itemDescription,
  .itemDescription_black {
    bottom: -90%
  }

  .experiencecontainerContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr;
    align-items: end;
    gap: 20px;
    align-items: baseline;
  }

  .experiencecontainerContent small {
    justify-content: flex-start;
  }

  .latestexperience,
  .firstexperience,
  .secondexperience,
  .firstInterest,
  .secondInterest,
  .thirdInterest,
  .fourthInterest {
    background-color: black;
    color: white;
    padding: 20px;
    opacity: 0.5;
    border-radius: 15px;
  }


  .interestContent {
    display: flex;
    justify-content: space-around;
    align-items: end;
  }

  .contactcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
    align-items: end;
  }


  .cvDownloadLink {
    grid-column: 2;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }



  #section07 {
    position: relative;
    margin-top: 50px;
    width: 100%;
    height: 100%;
  }

  #section07::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .8) 80%, rgba(0, 0, 0, .8) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .8) 80%, rgba(0, 0, 0, .8) 100%);
  }


  #section07 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb07 2s infinite;
    animation: sdb07 2s infinite;
    opacity: 0;
    box-sizing: border-box;
  }

  #section07 a span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }

  #section07 a span:nth-of-type(2) {
    top: 16px;
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
  }

  #section07 a span:nth-of-type(3) {
    top: 32px;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
  }

  @-webkit-keyframes sdb07 {
    0% {
      opacity: 0;
    }

    50% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  @keyframes sdb07 {
    0% {
      opacity: 0;
    }

    50% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

}