* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Playfair Display', serif;
}

.homecontainer {
  background-color: black;
  color:white;
  min-height: 100vh;
}

.aboutcontainer {
  background-color: white;
  min-height: 100vh;
}

.projectcontainer {
  background-image:url("https://i.imgur.com/8XUGwpc.jpg");
  background-size: cover;
  opacity: 0.7;
  min-height: 100vh;
  color: white;
}

.emptyspacecontainer {
  min-height: 100vh;
  background-color: black;
  color:white;
}

.experiencecontainer {
  background-image:url("https://i.imgur.com/1zcr8fy.jpg");
  background-size: cover;
  opacity: 0.7;
  min-height: 100vh;
}

.contactcontainer {
  background-color: black;
  min-height: 40vh;
}

.nav {
  text-align:justify;
  background-color: black;
  display: none;
}

.withnav {
  display: block;
  text-align: center;
  background-color: black;
}

a {
  color: white;
  text-decoration: none;
}

.logo {
  width:50px;
  height: 50px;
}

.homecontainer h1 {
  margin: 0;
  padding-top: 100px;
  padding-left: 50px;
}
.homecontainer h3 {
  margin: 0;
  padding-left: 50px;
}

.aboutcontainer h1 {
  border-bottom: 2px solid black;
}

.aboutcontainer {
  background-color: black;
  color: white;
}

.projectcontainer h1 {
  margin: 0;
  color: white;
  text-shadow: 0 2px 3px #000;
}

.experiencecontainer h1 {
  margin: 0;
  color: white;
  text-shadow: 0 2px 3px #000;
}

.contactcontainer h1 {
    color: white;
}

.fa-bars {
  color: white;
  padding: 10px;
}

.burgercontainer {
  background-color: black;
}
