* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Playfair Display', serif;
}

.homecontainer {
  color:white;
  min-height: 30vh;
  text-align: left;
  position:relative;
  text-shadow: 0 2px 3px #000;
}

.video {
  background-size: cover;
  width: 100%;
  top: 5px;
  bottom: 0;
  position: absolute;
}

.burgercontainer {
  position: relative;
}

.aboutcontainer {
  min-height: 100vh;
  background-color: white;
  color: black;
  border-bottom: 4px solid black;
}

.content {
  padding: 35px;
}

.projectcontainer {
  /* background-image:url("https://i.imgur.com/8XUGwpc.jpg"); */
  /* background-size: cover;
  opacity: 0.7; */
  color: white;
  border-bottom: 4px solid black;
}

.skillcontainer {
  min-height: 100vh;
  border-bottom: 4px solid black;
}

.experiencecontainer {
  background-image:url("https://i.imgur.com/1zcr8fy.jpg");
  width: 100%;
  background-size: cover;
  opacity: 0.7;
  min-height: 100vh;
}

.contactcontainer {
  background-color: black;
  min-height: 40vh;
}

.nav {
  text-align:justify;
  background-color: black;
  display: none;
}

.withnav {
  display: block;
  text-align: center;
  background-color: black;
}

a {
  color: white;
  text-decoration: none;
}

.logo {
  width:50px;
  height: 50px;
}

.homecontainer h1 {
  margin: 0;
  font-size: 25px;
  padding-top: 30px;
  margin-left: 30px;
  position:relative;
}
.homecontainer h3 {
  margin: 0;
  font-size: 15px;
  position: relative;
  margin-left: 30px;
}

.aboutcontainer h1 {
  border-bottom: 4px solid black;
  font-size: 35px;
  margin:0;
  margin-bottom: 20px;
}

.aboutcontainer p {
  font-size: 18px;
  margin:0;
}

.projectcontainer h1 {
  margin: 0;
  color: black;
  border-bottom: 4px solid black;
  /* text-shadow: 0 2px 3px #000; */
  font-size: 35px;
}

.experiencecontainer h1 {
  margin: 0;
  color: white;
  text-shadow: 0 2px 3px #000;
}

.skillcontainer h1 {
  margin: 0;
  color: black;
  border-bottom: 4px solid black;
  font-size: 35px;
  /* text-shadow: 0 2px 3px #000; */
}

.contactcontainer h1 {
    color: white;
}

.fa-bars {
  color: white;
  padding: 10px;
}

.burgercontainer {
  background-color: black;
}

/* --------------------------------------------------------- */

.carousel-wrapper{
  height:60vh;
  position:relative;
  width:100%;
  top:50px;
  margin:0 auto;
}
.carousel-item{
  position:absolute;
  font-weight: 700;
  top:0;
  bottom:0;
  left:0;
  right:0;
  padding:25px 50px;
  opacity:0;
  transition: all 0.5s ease-in-out;
}
.arrow{
  border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px;
}

.arrow-prev{
  left:-30px;
  position:absolute;
  top:50%;
  transform:translateY(-50%) rotate(135deg);
}

.arrow-next{
    right:-30px;
  position:absolute;
  top:50%;
  transform:translateY(-50%) rotate(-45deg);
  }

.light{
  color:white;
}

div.summary {
margin-top: 20px;
padding: 20px;
background-color: black;
}

div .skilllist {
  padding-left: 15px;
}

.skilllist img {
  width: 90px;
  height: 90px;
  padding: 5px;
}

@media (max-width: 480px) {
      .arrow, .light .arrow {
        background-size: 10px;
        background-position: 10px 50%;
      }
    }
}

/*Select every element*/
[id^="item"] {
    display: none;
  }

.item-1 {
  z-index: 2;
  opacity: 1;
  background:url('https://i.imgur.com/ziiUCw1.png');
  background-size:cover;
  margin-bottom: 60px;
  background-position:center;
  }
.item-2{
  background:url('https://i.imgur.com/c68efeZ.png?1');
   background-size:cover;
   margin-bottom: 60px;
   background-position:center;
}
.item-3{
  background:url('https://i.imgur.com/tGGVgrF.png');
  background-size:cover;
  margin-bottom: 60px;
  background-position:center;
}
.item-4{
  background:url('https://i.imgur.com/TbzTFLW.png');
  background-size:cover;
  margin-bottom: 60px;
  background-position:center;
}

*:target ~ .item-1 {
    opacity: 0;
  }

#item-1:target ~ .item-1 {
    opacity: 1;
  }

#item-2:target ~ .item-2, #item-3:target ~ .item-3, #item-4:target ~ .item-4 {
    z-index: 3;
    opacity: 1;
  }
}

/* --------------------------------------------------------------- */
